body {
    font-family: fantasy, sans-serif;
    background-color: bisque;
    color: black;
}

h1 {
    text-align: center;
    
}

img, .recipes {
    border: 2px solid black;
    margin: 10px;
}

.recipes {
    background-color: bisque;
    padding: 10px;
}

.list {
    margin: 15px;
}

a {
    text-decoration: none; color: black;
}

a:hover{
    color: #1D7874;
}